{% include 'admin/navbar.html' %}
{% block content %}
    <div class="container">
        <h2>Add Metal Type</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Metal Type Name:</label>
                <input type="text" id="name" name="name" required oninput="validateMetalTypeName(this)">
            </div>
            <div class="form-group">
                <button type="submit">Add Metal Type</button>
            </div>        
        </form>
        {% if error_message %}
        <script>
            alert("{{ error_message }}");
        </script>
        {% endif %}
    </div>

    <script>
        // JavaScript function to validate the input field for alphabets and spaces only
        function validateMetalTypeName(input) {
            // Regular expression to allow only alphabets and spaces
            input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
        }
    </script>
{% endblock content %}
