{% include 'admin/navbar.html' %}

{% block content %}
    <div class="container">
        <h2>Add New Category</h2>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="category_name">Category Name:</label>
                <input type="text" id="category_name" name="category_name" required>
            </div>
<!--             
            <div class="form-group">
                <label>Attributes:</label>
                <div id="attribute-container">
                    <div class="attribute-group">
                        <input type="text" name="attribute_names" placeholder="Attribute Name" oninput="validateAttributeName(this)">
                    </div>
                </div>
                <button type="button" class="add-attribute-btn" onclick="addAttributeField()">+ Add Attribute</button>
            </div> -->

            <div class="form-group">
                <button type="submit">Save Category</button>
            </div>
        </form>
    </div>

    <script>
        // function addAttributeField() {
        //     const container = document.getElementById('attribute-container');
        //     const newField = document.createElement('div');
        //     newField.classList.add('attribute-group');
        //     newField.innerHTML = `
        //         <input type="text" name="attribute_names" placeholder="Attribute Name" oninput="validateAttributeName(this)">
        //     `;
        //     container.appendChild(newField);
        // }

        // Function to validate the attribute name input
        function validateAttributeName(input) {
            input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
        }
    </script>
{% endblock %}
